.nav {
    margin: 2rem 1rem;
}

#main {
    padding: 2rem 3rem;
}

.big-head {
    font-family: 'Ubuntu', sans-serif;
}

.search-box {
    padding-right: 0;
}

.small-heading {
    padding-left: 0;
}

.navbar {
    padding-left: 0;
    margin: 1rem 0;
}

.side-links {
    padding-left: 0;
}

ul.nav.nav-tabs {
    margin-left: 0;
    margin-top: 0;
}
